#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_1 {
  rotation: 90.0;
  margin-left: 28px;
  margin-top: -29px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_2 {
  rotation: 90.0;
  margin-left: 28px;
  margin-top: -29px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_15 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 52px;
  margin-top: -53px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_16 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 73px;
  margin-top: -73px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_5 {
  rotation: 270.0;
  margin-left: 161px;
  margin-top: -162px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_4 {
  rotation: 270.0;
  margin-left: 209px;
  margin-top: -209px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}