#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 36px;
  width: 191px;
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_2 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_2 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_5 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(270.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_5 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(270.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_10 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(270.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_10 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(270.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_2 {
  -ms-transform: rotate(270.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_4 {
  -ms-transform: rotate(270.0deg);
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}