#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_5 {
  rotation: 270.0;
  margin-left: 82px;
  margin-top: -83px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Line_10 {
  rotation: 270.0;
  margin-left: 81px;
  margin-top: -83px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 29px;
  margin-top: -31px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 38px;
  margin-top: -38px;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f58ca0d2-63a7-4c55-a6e6-ac993a128df4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}